.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  text-decoration: none;
  margin-top: auto;
}

.header__lang-link-true {
  text-decoration-line: underline;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:not(:last-of-type) {
  padding-right: 14px;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
  }
}
