.cover__background {
  position: relative;
  top: 0;
  left: 0;
  margin-left: -16px;
  background-color: #2A2C2F;
  opacity: 0.8;
  width: calc(100% + 32px);
}

.cover__background:hover {
  opacity: 0.3;
}

.cover:hover .cover__background  {
  opacity: 0.3;
}

@media screen and (min-width: 1024px) {
  .cover__background {
    margin-left: -48px;
    width: calc(100% + 96px);;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    margin-left: -100px;
    width: calc(100% + 200px);;
  }
}
