.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
  position: relative;
  padding-bottom: 16px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 72%;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 106%;
    padding-bottom: 32px;
    max-width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    max-width: 55.35%;
    margin: 0 auto;
    padding: 32px auto;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    max-width: 45%;
  }
}

@media screen and (min-width: 1400px) {
  .cover__title {
    max-width: 60%;
    font-size: 95px;
    line-height: 1.1;
  }
}
